  <!-- Right Sidebar (Outlined Cards) -->
  <aside id="right-sidebar" class="w-64 p-4 hidden lg:block">
    <div class="card bg-base-200 shadow-lg outline outline-1 outline-base-400 mb-4">
        <div class="card-body">
            <h2 class="card-title">Activity</h2>
            <p>Recent updates and notifications</p>
        </div>
    </div>
    <div class="card  shadow-lg outline outline-1 outline-neutral-600">
        <div class="card-body">
            <h2 class="card-title">Trending Repositories</h2>
            <p>Some popular repositories you may like.</p>
        </div>
    </div>
</aside>