<div class="card w-2xl card card-sm overflow-hidden mx-auto">
  <form
    hx-post="/api/project"
    hx-ext="json-enc"
    hx-swap="none"
    hx-headers='{"Content-Type": "application/json"}'
    hx-on::after-request="handleProjectCreation(event)"
  >
    <div class="border-neutral-600 border-b">
      <div class="flex items-center gap-2 px-0 py-4">
        <div class="grow">
          <div class="flex items-center gap-2 text-sm font-medium">
            <svg
              fill="white"
              aria-hidden="true"
              height="16"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              data-view-component="true"
              class="octicon octicon-repo"
            >
              <path
                d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"
              ></path>
            </svg>
            Create new project
          </div>
        </div>
      </div>
    </div>
    <div class="card-body gap-4 px-1">
      <p class="text-xs opacity-60">
        Registration is free and only takes a minute
      </p>
      <div class="flex flex-col gap-1">
        <label class="input input-border flex w-full items-center gap-2">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"></path>
            </svg>  -->
          <input
            type="text"
            required
            minlength="3"
            maxlength="100"
            id="name"
            name="name"
            pattern="[A-Za-z0-9\s\-]+"
            class="grow"
            placeholder="Project name"
          />
        </label>
      </div>

      <div class="flex flex-col gap-1">
        <label class="input input-border flex w-full items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70"
          >
            <path
              fill-rule="evenodd"
              d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <input
            type="url"
            id="project_link"
            name="project_link"
            class="grow"
            placeholder="Project url"
          />
        </label>
      </div>

      <div class="flex flex-col gap-1">
        <textarea
          id="description"
          name="description"
          rows="3"
          class="grow textarea w-full"
          placeholder="Project Discription"
        ></textarea>
      </div>

      <div class="card-actions items-center gap-6">
        <button type="submit" class="btn btn-neutral">Create a project</button>
      </div>
    </div>
  </form>
</div>

<script>
  function handleProjectCreation(event) {
    if (event.detail.failed) {
      alert("Ошибка: " + event.detail.xhr.responseText);
    } else if (event.detail.successful) {
      document.dispatchEvent(
        new CustomEvent("project-created", {
          bubbles: true,
          cancelable: true,
          composed: true,
        })
      );
    }
  }
</script>
